<div class="center-fb">
    <div class="portlet">
        <div class="portlet-container">
            <div class="alert alert-danger" ng-if=""></div>
            <div class="container-fluid">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label>
                            Username:
                            <input ng-model="sCtrl.username" class="form-control">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Password:
                            <input ng-model="sCtrl.password" class="form-control">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Re-type password:
                            <input ng-model="sCtrl.password" class="form-control">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Email:
                            <input type="email" ng-model="sCtrl.email" class="form-control">
                        </label>
                    </div>
                    <div class="form-group">
                        <button ng-click="sCtrl.createUser()" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>