<form class="form-horizontal">
    <div class="form-group">
        <label>
            Username:
            <input ng-model="$ctrl.username" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Password:
            <input ng-model="$ctrl.password" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Re-type password:
            <input ng-model="$ctrl.password" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Email:
            <input ng-model="$ctrl.email" class="form-control">
        </label>
    </div>
    <div class="form-group no-margin-b">
        <div class="margin-t btn-f-w">
            <button  ui-sref="log.in" class="btn btn-danger">Cancel</button>
            <button ui-sref="log.signin" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>