<div class="center-fb">
    <div class="" ng-if="lCtrl.">{{}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <label>
                Username:
                <input ng-model="lCtrl.username" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>
                Password:
                <input ng-model="lCtrl.password" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <button ng-click="lCtr.logIn()" class="btn btn-primary">Log in</button>
        </div>
    </form>
</div>