<div class="container-fluid">
    <div ui-view>
        <div ng-if="$ctrl.showAlert" ng-class="{'alert-success': $ctrl.alertType === 'success', 'alert-danger': $ctrl.alertType === 'danger'}">
              {{$ctrl.alertDesc}}
        </div>

        <button ui-sref="dashboard.createTask" class="btn btn-success">Create task</button>

        <table class="table padding-top">
            <tr>
                <th></th>
            </tr>
            <tbody>
            <tr ng-repeat="task in $ctrl.tasks">
                <td>{{task.description}}</td>
                <td>{{task.id}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>