body {
  background: #f7f7f7;
}
.portlet {
  border: solid 1px #ddd;
}
.portlet-container {
  padding: 20px;
  background: #fff;
}
.sidebar {
  background: black;
  min-height: 100vh;
  width: 200px;
}
.wrap-context {
  display: flex;
  flex-direction: row;
}
.wrap-context .context {
  padding: 30px;
  width: 100%;
}
