//== Body
body {
  background: @background-color;
}

//== Padding
.padding-top {
  padding-top: @padding;
}

.padding-top-l {
  padding-top: calc(2*@padding);
}

//== Margin
.no-margin-b {
  margin-bottom: 0;
}

.margin-b-l {
  margin-bottom: calc(2*@margin);
}

.margin-t {
  margin-top: @margin;
}

//== Fonts
h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 45px;
}

//== Useful
.center-box {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.center-box-height {
  min-height: ~"calc(100vh - 44px)";
}

.colored {
  color: #2e6da4;
}